<div class="dynamic active highlight highlight-javascript">
  <pre>
    </pre>
</div>

<div id="buttons">
  <div data-type="dynamic" class="active button dynamic"></div>
</div>

<div style="height: 100px;">
<div id="zone_joystick" >
  <div id="debug">
    <ul>
      <li class="position">
        position :
        <ul>
          <li class="x">x : <span class='data'></span></li>
          <li class="y">y : <span class='data'></span></li>
        </ul>
      </li>
      <li class="force">force : <span class='data'></span></li>
      <li class="pressure">pressure : <span class='data'></span></li>
      <li class="distance">distance : <span class='data'></span></li>
      <li class="angle">
        angle :
        <ul>
          <li class="radian">radian : <span class='data'></span></li>
          <li class="degree">degree : <span class='data'></span></li>
        </ul>
      </li>
      <li class="direction">
        direction :
        <ul>
          <li class="x">x : <span class='data'></span></li>
          <li class="y">y : <span class='data'></span></li>
          <li class="angle">angle : <span class='data'></span></li>
        </ul>
      </li>
    </ul>
    <div class="dump"></div>
  </div>
  <div class="zone dynamic active"></div>
</div>
<input type="text" ng-model="robot.name" class="span6 textbox"
         placeholder="Type robot id..." >
</div>